.Gmail-IOS {
    font-family: Arial;
    width: 380px;
    border: 1px solid gray;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-top: 15px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
}

.header {
    font-size: 12px;
    color: gray;
    margin-bottom: 20px;
}

.section {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.section-info {
    font-family: Arial;
    font-size: 14px;
    margin-left: 10px;
}

.img-section {
    margin-right: 10px;
}
.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
}

.section1-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.left-section1-info {
    font-weight: bold;
    font-size: 18px;
}

.right-section1-info {
    font-size: 14px;
    color: gray;
}

.section2-info {
    font-weight: bold;
    margin-bottom: 5px;
}

.section3-info {
    color: gray;
}