.section-div {
    border: none;
    border-radius: 4px;
    padding-bottom: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.all-div {
    display: grid;
    grid-template-columns: 215px 215px 215px;
    column-gap: 15px;
    margin-left: 10px;
}

.Profile-picture {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.Profile-name {
    font-size: 18px;
    font-weight: bold;
    padding-top: 4px;
    margin-top: 0;
    margin-bottom: 6px;
    margin-left: 10px;
}

.mutual-info {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    column-gap: 5px;
    margin-left: 10px;
    margin-bottom: 10px;

}

.Mutual-picture {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    object-fit: cover;
}

.Profile-friend {
    color: gray;
    margin: 0;
}

button {
    color: white;
    background-color: rgb(0, 102, 255);
    font-size: 16px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    transition: background-color, box-shadow 0.15s;
    cursor: pointer;
}
button:hover {
    background-color: rgb(29, 119, 255);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}