.container {
    position: relative;
    display: inline-block;
}

.cloth-picture {
    width: 200px;
}

.discount {
    color: white;
    background-color: black;
    font-family: Arial;
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    position: absolute;
    top: 10px;
    right: 0;
}

.cart-option {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

button {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}