.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    font-family: Arial;
}
.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    object-fit: cover;
}

.profile-name {
    font-weight: bold;
    padding-left: 10px;
}

.right-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.friend-btn {
    color: white;
    background-color: rgb(12, 118, 255);
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.message-btn {
    color: black;
    background-color: rgb(228, 228, 228);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}