.section {
    width: 350px;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    justify-content: space-between;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 10px;
    transition: box-shadow 0.15s;
}
.section:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.profile-info {
    display: grid;
    grid-template-rows: 14px 14px 14px;
    row-gap: 10px;
    font-family: Arial;
    font-size: 14px;
    align-items: center;
    flex: 1;
}
.Profile-name {
    font-weight: 600;
}
.Profile-Profession,
.Profile-Race {
    color: gray;
}

.Profile-picture {
    width: 100%;
    max-width: 50px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
    margin-right: 20px;
}
button{
    color: white;
    background-color: rgb(0, 140, 255);
    border: 2px solid rgb(0, 140, 255);
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 50px;
    transition: color, background-color 0.15s;
}
button:hover {
    color: rgb(0, 140, 255);
    background-color: white;
}