.all-div {
    display: inline-block;
    border: 1px solid;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

 .profile-icon {
    display: inline-block;
    width: 70px;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 10px;
}

.profile-info {
    display: inline-block;
    vertical-align: middle;
}

.profile-btn {
    display: inline;
    vertical-align: middle;
}

.profile-picture {
    width: 60px;
    border-radius: 70px;
}

.profile-name, 
.profile-Race, 
.profile-profession {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 14px;
}

.Follow {
    color: white;
    background-color: rgb(0, 149, 218);
    border: none;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 6px;
}
.Follow:hover {
    background-color: rgb(0, 174, 255);
}

.profile-Race, 
.profile-profession {
    color: gray;
}
