.all-div {
    border: 1px solid black;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    transition: border, box-shadow 0.15s;
}
.all-div:hover {
    border: 1px solid red;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}
button {
    color: white;
    background-color: rgb(0, 89, 255);
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.15s;
}
button:hover {
    background-color: rgb(0, 119, 255);
}

.image-div {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.info-div {
    display: inline-block;
    margin-right: 50px;
    vertical-align: middle;
}

.btn-div {
    display: inline-block;
    vertical-align: middle;
}

.section-div {
    margin-bottom: 30px;
}
.Picture{
    display: inline-block;
    width: 50px;
    border-radius: 30px;
    object-fit: contain;
    object-position: center;
}

.Picture3 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}

.Profession,
.Race {
    color: gray;
    display: block;
}

.btn3-div{
    display: inline-block;
    margin-left: 30px;
}
