
.all-div {
    display: inline-block;
    border: 1px solid black;
    padding-right: 10px;
    padding-left: 10px;
    transition: border, box-shadow 0.15s;
}
.all-div:hover {
    border: 1px solid red;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.section-div {
    background-color: white;
    transition: background-color 0.15s;
}
.section-div:hover {
    background-color: whitesmoke;
}

.thumbnail {
    width: 160px;
    display: inline-block;
}

.video-preview {
    display: block;
    font-weight: 600;
    margin-bottom: 0;
}

.video-info,
.video-owner {
    color: gray;
    margin-bottom: 4px;
    margin-top: 0;
    font-size: 13px;
}

.image-div {
    display: inline-block;
}

.video-div {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
}
