

.section-div {
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding-bottom: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    margin-left: 15px;
}

.all-div {
    border: 1px solid rgb(255, 0, 0);
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: whitesmoke;
}

.Profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.Profile-name {
    font-size: 18px;
    font-weight: bold;
    padding-top: 4px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
}

.Mutual-picture {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 10px;
    vertical-align: middle;
    margin-top: 3;
}

.Profile-friend {
    display: inline-block;
    color: gray;
    vertical-align: middle;
}

button {
    color: white;
    background-color: rgb(0, 102, 255);
    font-size: 16px;
    display: block;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    transition: background-color, box-shadow 0.15s;
    cursor: pointer;
}
button:hover {
    background-color: rgb(29, 119, 255);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}